body{
    background:pink;
    font-family:Arial, Helvetica, sans-serif;
}
    .assignment{
        display: flex;
        flex-wrap:wrap;
    }

    .assignment{
        width:22%;
        padding: 10px;
        margin: 10px;
        padding: 20px;
        background:lightgoldenrodyellow;
        border: radius 5px; ;
    }

    .assignment img{
        width:200px;
        margin: 10px;
        border:4px dashed #fff;
    }

    .assignment img:hover{
        border:4px dashed darkred;
    }
    h1{
        color:navy;
        text-align:center;
    }
    h1:hover{
        color: orangered;
    }

    a{
        text-decoration: none;
        color: purple;
    }
    a:hover{
        color:#fff;

    }
